# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio cache files
# files ending in .cache can be ignored
*.cache
*.Cache
# but keep track of directories ending in .cache
!*.cache/
!*.Cache/

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Precompiled headers
*.pch

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Build results
debug/
Debug/
debugPublic/
DebugPublic/
release/
Release/
releases/
Releases/
x64/
x86/
bld/
Bin/
bin/
obj/
Obj/
log/
Log/

# Ignore the out of source build
build/
Build/

# log files
log/
Log/
logs/
Logs/
*.log

# Other (personal) files.
CodeGraphData/
codeGraphData/

# DO INCLUDE
!deps/
!Deps/
!dependencies/
!Dependencies/